{% extends 'layout.html' %}

{% block body %}
<h2>About Me</h2>
  <p class='lead'>It's just me working on this for now. I'm a full time data analyst and a hobbyist level coder -- this is a passion project of mine. I started tutoring to help students achieve their academic goals and I still find joy in doing that today.</p>


<h2>Want to help?<h2>
  <p class='lead'>The source code is on <a href='https://www.github.com/bryant-vu/act'>GitHub</a> if you want to improve it. Connect with me on <a href='https://www.linkedin.com/in/bryant-vu'>LinkedIn</a> if you want to collaborate.</p>

{% endblock %}
