{% extends 'layout.html' %}

{% block body %}
<div>
<h2>About</h2>
  <p class='font-weight-light'><font size='4'> This website was built as a pet project. Use it to improve your ACT math score.
</div>

<div>
<h2>Want to help?</h2>
  <p class='font-weight-light'><font size='4'>I'm always open to new ideas and improvements so don't hesitate to <a ref='/api/v1/contactme/'>reach out</a> with suggestions. The source code is on <a href='https://www.github.com/bryant-vu/act'>GitHub</a>.
</div>
{% endblock %}
