{% extends 'layout.html' %}

{% block body %}
  <h1>About Us<h1>
  <p class = "lead"> Most students have trouble replicating the same steps to solve a specific ACT problem, even after a tutor meticulously walks them through a solution. Previously released material is the gold standard for test prep -- you can't beat the accuracy of the test makers themselves. This website is built for students to have a 2nd chance at the questions they missed and for tutors to have quick access to those questions. </p>
{% endblock %}
