{% extends 'layout.html' %}

{% block body %}
<div>
  <p class='lead'>What is a calculator program?</p>
</div>
<div>
  <p>Most of math is simply plugging something in and getting something out. These calculator programs will take care of everything in between. For example, if you need to find the distance between two points, there's a program on your calculator that does it for you. You enter in the two points (x1,y1) and (x2, y2) and the calculator will spit out the distance. I can tell you're already getting excited but slow your roll. These programs just tools and as the saying goes, the tools don't make the handyman. You need to know how and when to use these programs for them to be effective.</p>

<div>
  <p class='lead'>How does this help me with the ACT?</p>
</div>
  <div>
    <p>ACT allows you to program your calculators, provided you have a programmable calculator (I recommend buying the TI-84 CE or TI-84). As with most things, many before you have already done the work in creating the programs and releasing them on the internet. All you have to do now is download the programs (.zip file) and follow simple installation instructions to get them on your calculator. This is 100% legit and allowed by the ACT. Even I use some of the programs (most notably the quadratic equation solver and the arithmetic/geometric sequences) to help speed things up and avoid tedious calculations.</p>

<div>
  <p class='lead'>Download and install calculator programs onto your TI graphing calculator using the links below.
  </p>
</div>

<div>
  <ol>
  <li><a href="https://www.ticalc.org/archives/files/fileinfo/456/45632.html">Download the programs.</a></li>
  <li><a href="https://supertutortv.com/blog-resources/ti-calculator-how-to-upload-programs">Follow these written installation instructions.</a> Or</li>
  <li><a href="https://www.youtube.com/watch?v=TfVdPfxrmpw">Watch this installation video.</a></li>
  </ol
</div>
{% endblock %}
