{% extends 'layout.html' %}

{% block body %}
        <p class='lead'>General Tips:</p>
          <ul>
            <li>Figures are drawn to scale (sometimes you can just eyeball the answer).</li>
            <li>Sketch out shapes.</li>
            <li>Questions with figures - DON'T READ - skip to the end.</li>
            <li>Italicized units means you will need to convert.</li>
            <li>Use Process of Elimination (POE) to cross out nonsensical answers.</li>
            <li>If you can't figure it out, try working backwards (guess and check).</li>
          </ul>



    <br>
    <br>
    <br>

    <div class='container'>
        <center>
            <div class='row'>
                <div class="col-sm-12">
                    <h2>Question Selection</h2>
                    <select id="questionDropdown" onchange="getQuestionData(this.value)" -->
                            <option value=#>Select Question</option></select>
                </div>
            </div>
        </center>

        <br>
        <br>
        <br>


        <div class='row'>
            <h2 id="solve"></h2>
                <div class="col-sm-12">
                    <div id="question">

                    </div>
                </div>
        </div>

        <br>
        <br>

{% endblock %}
