{% extends 'layout.html' %}

{% block body %}
<div class='container'>
    <div class="jumbotron text-center">
      <h1>Quick Maths</h1>
      <p class="lead">Built for student retention and tutor efficiency.</p>
  </div>

    <br>
    <br>
    <br>

    <div class='container'>
        <center>
            <div class='row'>
                <div class="col-sm-12">
                    <h2>Question Selection</h2>
                    <select id="questionDropdown" onchange="getQuestionData(this.value)" -->
                            <option value=#>Select Question</option></select>
                </div>
            </div>
        </center>

        <br>
        <br>
        <br>


        <div class='row'>
            <h2 id="solve"></h2>
                <div class="col-sm-12">
                    <div id="question">

                    </div>
                </div>
        </div>

{% endblock %}
