{% extends 'layout.html' %}

{% block body %}
<h2>Homework Questions</h2>
<div class='container'>
        <center>
            <div class='row'>
                <div class="col-sm-12">
                    <form method='post' action="javascript: getQuestionData()">
                        <h3>Select Topic(s)</h3>
                            <i>Note: Will return all Topics if none selected.</i>
                            <div id='checkboxesTopics'></div>
					                       <style>
					                            #checkboxesTopics {
                                        padding: 10px;
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                        background-color: #f9f9f9;
                                        margin-bottom: 20px;
                                      }
                                      #checkboxesTopics label {
                                        display: inline-block;
                                        margin-right: 15px;
                                      }
                                 </style>
                        <div>
                        <input type='submit' value='Submit'>
                        </div>
                    </form>
                </div>
            </div>
        </center>
    </div>


        <br>
        <br>
        <br>


        <div class='row'>
            <h2 id="solve"></h2>
                <div class="col-sm-12">
                    <div id="question">

                    </div>
                </div>
        </div>

        <br>
        <br>
<script>
  // Homework should hit the CSV endpoints
  window.API_PREFIX = '/api/v1/homework';
</script>
<!-- Load Plotly first (it includes d3) -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Then your page script that calls Plotly.d3.json -->
<script src="{{ url_for('static', filename='js/homework.js') }}"></script>
{% endblock %}